<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/style-news.css" />
    <title>参会去？- 展会</title>
    <link rel="shortcut icon" href="__HOME_IMG__/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--[if lt IE 9]><script> src="http://html5shim.googlecode.com/svn/trunk/html5.js"</script><![endif]-->
</head>
<style>
    .liOver{
        border-color:#eaeaea !important;
        box-shadow: 3px 3px 9px #eaeaea;
    }
</style>
<body style="background:  #ffffff;">
    <div class="top">
        {include file="Public:nav" /}
        <section class="banner-ny clearfix"></section>
    </div>
    <form id="webQueryCondition" action="{:url('index/search')}" method="post">
        <input type="hidden" name='type' id="type" value="{$type}">
        <input id="searchSource" name="source" type="hidden" value="" />
        <input id="parentCategoryId" name="parentCategoryId" type="hidden" value="{if condition='$args.parentCategoryId' nep ''}{$args.parentCategoryId}{/if}" />
        <input id="categoryId" name="categoryId" type="hidden" value="{if condition='$args.categoryId' nep ''}{$args.categoryId}{/if}" />
        <input id="continentCode" name="continentCode" type="hidden" value="{if condition='$args.continentCode' nep ''}{$args.continentCode}{/if}" />
        <input id="countryCode" name="countryCode" type="hidden" value="{if condition='$args.countryCode' nep ''}{$args.countryCode}{/if}" />
        <input id="startTime" name="startTime" type="hidden" value="{if condition='$args.startTime' nep ''}{$args.startTime}{/if}" />
        <input type="hidden" id="hidStartTime" name="hidStartTime" value="{if condition='$args.startTime' nep ''}{$args.startTime}{/if}" />
    </form>
        <div class="middle">
            <div class="sx-wrapper">
                <div class="country-search clearfix" style="position: relative">

                    <li class="thisclass-column">
                        <form action="{:url('index/searchEx')}" method="post">
                        {if condition="$keywords eq '' "}
                        <input type="text" name="keywords" value="" placeholder="请输入展会名称、行业、地点等关键词进行搜索" class="ban-input-lmy" />{else/}
                        <input type="text" name="keywords" value="{$keywords}" placeholder="" class="ban-input-lmy" />{/if}
                        <button class="ban-btn-lmy" id="keysearch">搜索</button>
                        </form>
                    </li>

                    <hr/>
                    <div class="searchPoz"><b>已选条件</b>
                        <p style="display: inline-block;">&gt;</p><span id="country" style="display: inline-block;"></span>
                        <p style="display: inline-block;">&gt;</p><span id="trade" style="display: inline-block;">$cate</span>
                        <p style="display: inline-block;">&gt;</p><span id="time" style="display: none;"></span>
                        <i class="cite">清空筛选</i>&nbsp;&nbsp;
                    </div>
                    <ul id="ulRegion">
                        <li class="cTi">地点：</li>
                        <li class="cLi-Addr m-hover">
                            <span class="cSel">不限</span>
                            <span name="欧洲" class="" id="9">欧洲
                    <div class="country" style="display: none;">
                        {foreach name="$CountryInfo[9]" item="vo"}
                        <a  class="" id="{$vo.id}">{$vo.name}</a>
                        {/foreach}
                        {if condition="count($CountryInfo[9]) gt 28"}<i>+</i>{/if}
                    </div>
                </span>
                            <span name="北美洲" id="18">北美洲
                    <div class="country" style="display: none;">
                        {foreach name="$CountryInfo[18]" item="vo"}
                        <a  class="" id="{$vo.id}">{$vo.name}</a>
                        {/foreach}
                        {if condition="count($CountryInfo[18]) gt 28"}<i>+</i>{/if}
                    </div>
                    <b style="display: none;"></b>
                    <b style="display: none;"></b>
                </span>
                            <span name="南美洲" class="" id="40">南美洲
                    <div class="country" style="display: none;">
                       {foreach name="$CountryInfo[40]" item="vo"}
                        <a  class="" id="{$vo.id}">{$vo.name}</a>
                        {/foreach}
                        {if condition="count($CountryInfo[40]) gt 28"}<i>+</i>{/if}
                    </div>
                </span>
                            <span name="亚洲" class="" id="1">亚洲
                       <div class="country" style="display: none;">
                        <a  class="" id="2">中国</a>
                        {foreach name="$CountryInfo[1]" item="vo"}
                        <a  class="" id="{$vo.id}">{$vo.name}</a>
                        {/foreach}
                        {if condition="count($CountryInfo[1]) gt 28"}<i>+</i>{/if}
                    </div>
                </span>
                            <span name="非洲" class="" id="32">非洲
                    <div class="country" style="display: none;">
                        {foreach name="$CountryInfo[32]" item="vo"}
                        <a  class="" id="{$vo.id}">{$vo.name}</a>
                        {/foreach}
                        {if condition="count($CountryInfo[32]) gt 28"}<i>+</i>{/if}
                    </div>
                </span>
                            <span name="大洋洲" class="" id="51">大洋洲
                    <div class="country" style="display: none;">
                        {foreach name="$CountryInfo[51]" item="vo"}
                        <a  class="" id="{$vo.id}">{$vo.name}</a>
                        {/foreach}
                        {if condition="count($CountryInfo[51]) gt 28"}<i>+</i>{/if}
                        </div>
                    </span>
                        </li>
                    </ul>
                    <ul id="ulCategory">
                        <li class="cTi">行业：</li>
                        <li class="cLi cLi-Trade m-hover">
                            <span class="cSel">不限</span> {volist name="CategoruInfo" id="CI" }
                            <span name="{$CI['Pname']}" code="{$CI['Pid']}">{$CI['Pname']}
                            <div class="sonclass">
                            <b></b>
                            {volist name="$CI['Children']" id="CC"}
                            <a  class='' code="{$CC['id']}">{$CC['name']}</a>
                            {/volist}
                            </div>
                            </span> {/volist}
                            <p id="more-Trade">+</p>
                        </li>
                    </ul>
                    <ul id="ulDate">
                        <li class="cTi">时间：</li>
                        <li class="cLi cLi-Time">
                            <span class="cSel">不限</span>
                            <span code="2018-02-01"><a>2018年02月</a></span>
                            <span code="2018-03-01"><a>2018年03月</a></span>
                            <span code="2018-04-01"><a>2018年04月</a></span>
                            <span code="2018-05-01"><a>2018年05月</a></span>
                            <span code="2018-06-01"><a>2018年06月</a></span>
                            <span code="2018-07-01"><a>2018年07月</a></span>
                            <span code="2018-08-01"><a>2018年08月</a></span>
                            <span code="2018-09-01"><a>2018年09月</a></span>
                            <span code="2018-10-01"><a>2018年10月</a></span>
                            <span code="2018-11-01"><a>2018年11月</a></span>
                            <span code="2018-12-01"><a>2018年12月</a></span>
                            <span code="2019-01-01"><a>2019年01月</a></span>
                            <span code="2019-02-01"><a>2019年02月</a></span>
                            <span code="2019-03-01"><a>2019年03月</a></span>
                            <span code="2019-04-01"><a>2019年04月</a></span>
                            <span code="2019-05-01"><a>2019年05月</a></span>
                            <span code="2019-06-01"><a>2019年06月</a></span>
                            <span code="2019-07-01"><a>2019年07月</a></span>
                            <span code="2019-08-01"><a>2019年08月</a></span>
                            <span code="2019-09-01"><a>2019年09月</a></span>
                            <span code="2019-10-01"><a>2019年10月</a></span>
                            <span code="2019-11-01"><a>2019年11月</a></span>
                            <span code="2019-12-01"><a>2019年12月</a></span>
                            <span code="2020-01-01"><a>2020年01月</a></span>
                            <span code="2020-02-01"><a>2020年02月</a></span>
                            <span code="2020-03-01"><a>2020年03月</a></span>
                            <p id="more-Time">+</p>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

    <section class="expo-Classification clearfix">
        <div class="expo-type" style="margin-bottom:15px">
            <a href="{:url('index/exhibition',['type'=>'all'])}" id="all">全部</a>
            <a href="{:url('index/exhibition',['type'=>'newest'])}" id="newest">最新发布</a>
            <a href="{:url('index/exhibition',['type'=>'hot'])}" id="hot">热门展会</a>
            <a href="#">推荐展会</a>
            <a href="javascript:voit(0)" id="condition">关键字查询</a>
        </div>
        <div class="list-box clearfix">
            <ul>{if condition="count($list) eq 0"}
                <div class="search-none">
                    <p>
                        <font style="color:#ff8a00">对不起，未搜到相关展会信息！</font>
                    </p>
                    <p>
                        <font style="color:#ff8a00">详情请咨询客服</font>
                    </p>
                </div>
                {else/} {volist name="list" id="list"}
                <li style="width:1170px" class="expo-item">
                    <div class="fl list-pic">
                        <a href="{:url('detail/index',['id'=>$list['id']])}"><img src="{$list.picture|get_file_path}" width="229px" height="151px"></a>
                    </div>
                    <div class="fl list-text">
                        <h3><a href="{:url('detail/index',['id'=>$list['id']])}">{$list.name}（{$list.ename}）</a></h3>
                        <span>{$list.content|strip_tags|subtext=120}</span>
                        <p>{$list.startime|date="Y.m.d",###} ~ {$list.endtime|date="Y.m.d",###}</p>
                        <p>{$district[0][$list['city_id']]['country']} • {$district[0][$list['city_id']]['city']} • {$list.venues}</p>
                        <a href="{:url('detail/index',['id'=>$list['id']])}" class="fr look">查看详情&gt;&gt;</a>
                    </div>
                </li>
                {/volist} {/if}

            </ul>
        </div>
        <nav style="text-align: center">{$page}</nav>
    </section>
    </div>
    </div>
    {include file="Public:footer" /}
    <script type="text/javascript" src="__HOME_JS__/select-sx.js"></script>
    <script>
        $('.expo-item').hover(function(){
            $(this).addClass('liOver');
        },function(){
            $(this).removeClass('liOver');
        });
    </script>
</body>

</html>