<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/style-news.css" />
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/share.css" />
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__HOME_CSS__/reveal.css" />
    <title>{$list.name}</title>
    <link rel="shortcut icon" href="__HOME_IMG__/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--[if lt IE 9]><script> src="http://html5shim.googlecode.com/svn/trunk/html5.js"</script><![endif]-->
</head>

<body style="background:  #ffffff;">
{include file="Public:nav" /}
<style>
    .not-support {
        font-size: 24px;
        min-height: 300px;
        text-align: center;
        line-height: 300px;
    }

    .not-support span {
        color: #fd715a;
    }
</style>
<div class="top">
    <section class="banner-ny clearfix"></section>
</div>
<section class="details-titBox">
    <div class="details-mid">
        <div class="details-left fl">
            <a href="{:url('Detail/index',['id' => $list['id']])}">展会详情</a>
            <a href="{:url('Booth/book',['id' => $list['id']])}" >展位预定</a>
            <a href="{:url('Pt/book',['id' => $list['id']])}" >随团行程</a>
            <a href="{:url('CustomizeStroke/book',['id' => $list['id']])}" >定制行程</a>
            <a href="{:url('BoothConstruction/book',['id' => $list['id']])}" class="left-actvie">展台搭建</a>
            <a href="{:url('ExhibitsTransportation/book',['id' => $list['id']])}">展品运输</a>
            <a href="#">展会票务</a>
        </div>
        <!-- <p class="fr tel">
                热线电话：010-12345678
            </p> -->
    </div>
</section>
<section class="content clearfix">
    <!--流程-->
    <div class="bar">
        <div class="text-yd">
            <font style="color:#f7f8fb">预订流程</font>
        </div>
        <ul class="nav nav-pills nav-justified step step-round" data-step="6">
            <li>
                <a>选择供应商</a>
            </li>
            <li>
                <a>选择展位类型和面积</a>
            </li>
            <li>
                <a>填写参展企业信息</a>
            </li>
            <li>
                <a>选择支付</a>
            </li>
            <li>
                <a>供应商确认</a>
            </li>
            <li>
                <a>预定完成</a>
            </li>
        </ul>
    </div>
    <div class="con-left fl">
        <div class="zh-box">
            <h2>{$list.name}({$list.ename})</h2>
            <p>时间：{$list.startime|date="Y.m.d",###} - {$list.endtime|date="Y.m.d",###}</p>
            <p>地点：{$district[0][$list['city_id']]['country']} • {$district[0][$list['city_id']]['city']} • {$list.venues}</p>
        </div>
        <div class="zh-company clearfix">
            <div class="company-title">
                <div class="tit-01 tit-choose">
                    <a href="#xc">展台搭建</a>
                </div>
                <div class="tit-02">如果您需要展台搭建，请填写如下信息，我们的客户专员将在24小时内联系您</div>
            </div>
            <div class="custom-table">
                {if condition="isset($_COOKIE.worldevents_role) && $_COOKIE.worldevents_role neq 10"}
                <div class="con-box introduce" style="border:1px solid #ff8a00;margin-top:10px;">
                    <div class="not-support">
                        <span style="color: #ff8a00">商家账户暂不支持展台搭建服务</span>
                    </div>
                </div>
                {else/}
                <form>
                    <ul>
                        <li>
                            <div class="form-tit fl">
                                <span>*</span> 面积：
                            </div>
                            <div class="form-box fl">
                                <input class="form-control" type="text" style="width: 305px;"> m2
                            </div>
                        </li>
                        <li>
                            <div class="form-tit fl">
                                <span>*</span> 楣板：
                            </div>
                            <div class="form-box fl">
                                <input class="form-control" type="text" style="width: 305px;">
                            </div>
                        </li>
                        <li>
                            <div class="form-tit fl">
                                预算：
                            </div>
                            <div class="form-box fl">
                                <input class="form-control" type="text" style="width: 305px;">元 <span class="zs">(如没有预算,可不填)</span>
                            </div>
                        </li>
                        <li>
                            <div class="form-tit fl">
                                <span>*</span> 搭建要求：
                            </div>
                            <div class="form-box fl">
                                <textarea class="form-control other-yq" placeholder="您可以在这里详细说明您对展装的要求，比如：颜色，风格，高度，展位配置等。您的说明越详细，我们越能设计出满足您的需求的设计方案。"></textarea>
                            </div>
                        </li>
                        <li>
                            <div class="form-tit fl">
                                <span>*</span> 您的姓名：
                            </div>
                            <div class="form-box">
                                <input class="form-control" type="text" style="width: 200px;">
                            </div>
                        </li>
                        <li>
                            <div class="form-tit fl">
                                <span>*</span> 您的手机号码：
                            </div>
                            <div class="form-box">
                                <input class="form-control" type="text" style="width: 200px;">
                            </div>
                        </li>
                        <li>
                            <div class="form-tit fl">
                                <span>*</span> 验证码：
                            </div>
                            <div class="form-box">
                                <input class="form-control" type="text" style="width: 120px;">
                                <button class="add-qk">获取验证码</button>
                            </div>
                        </li>
                        <li>
                            <button class="custom-tj">提交</button>
                        </li>
                    </ul>
                </form>
                {/if}
            </div>
        </div>
        </div>
    </div>
    <div class="con-right fr" style="margin-top:15px">
        <div class="right-tit">
            <p>相关展会</p>
        </div>
        {volist name="similar" id="vs"}
        <div class="right-con">
            <div class="right-box">
                <a href="{:url('detail/index',['id' => $vs['id']])}"><img src="{$vs.picture|get_file_path}" width="100%"></a>
            </div>
            <div class="right-text">
                <a href="{:url('detail/index',['id' => $vs['id']])}">{$vs.name}</a>
                <p>{$vs.startime|date="Y.m.d",###} ~ {$vs.endtime|date="Y.m.d",###}</p>
            </div>
        </div>
        {/volist}
    </div>
</section>
<!--弹出窗口js-->
{include file="Public:footer" /}
<script type="text/javascript" src="__HOME_JS__/jquery.reveal.js"></script>
<!--进度条-->
<script type="text/javascript" src="__HOME_JS__/progressBar.js"></script>
<!--进度条-->
<script type="text/javascript" src="__HOME_JS__/lib.js"></script>
<script type="text/javascript" src="__HOME_JS__/fol_nav.js"></script>
</script>