<!--hoperator-->
<body class=" ">
<div id="wrapper">
    <!--BEGIN SIDEBAR MENU-->
    <nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
        <div class="sidebar-collapse menu-scroll">
            <ul id="side-menu" class="nav">
                {include file="Public:user-panel" /}
                <li><a href="#"><i class="fa fa-tachometer fa-fw"><div class="icon-bg bg-pink"></div></i><span class="menu-title">我的需求</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href=""><i class="fa fa-th-large"></i><span class="submenu-title">定制行程</span></a></li>
                        <li><a href=""><i class="fa fa-th-large"></i><span class="submenu-title">展台搭建</span></a></li>
                        <li><a href=""><i class="fa fa-th-large"></i><span class="submenu-title">展品运输</span></a></li>
                    </ul>
                </li>
                <li name=''><a href="#"><i class="fa fa-edit fa-fw"><div class="icon-bg bg-pink"></div></i><span class="menu-title">我的订单</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="#"><i class="fa fa-rocket"></i><span class="submenu-title">所有订单</span></a> </li>
                        <li><a href="#"><i class="fa fa-rocket"></i><span class="submenu-title">展位订单</span></a> </li>
                        <li><a href="#"><i class="fa fa-rocket"></i><span class="submenu-title">拼团订单</span></a> </li>
                        <li><a href="#"><i class="fa fa-rocket"></i><span class="submenu-title">定制订单</span></a> </li>
                        <li><a href="#"><i class="fa fa-rocket"></i><span class="submenu-title">搭建订单</span></a> </li>
                        <li><a href="#"><i class="fa fa-rocket"></i><span class="submenu-title">运输订单</span></a> </li>
                        <li><a href="#"><i class="fa fa-rocket"></i><span class="submenu-title">签证订单</span></a> </li>
                        <li><a href="#"><i class="fa fa-rocket"></i><span class="submenu-title">门票订单</span></a> </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-gift fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">我的收藏</span><span class="label label-yellow">0件</span></a>
                </li>
                <li><a href="#"><i class="fa fa-money"><div class="icon-bg bg-pink"></div></i><span class="menu-title">我的补贴</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="layout-left-sidebar.html"><i class="fa fa-align-left"></i><span class="submenu-title">专项补贴</span></a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-indent"><div class="icon-bg bg-orange"></div></i><span class="menu-title">出团手册</span><span class="label label-violet">v1.0</span></a>
                </li>
                <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"><div class="icon-bg bg-pink"></div></i><span class="menu-title">我的财务</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="layout-left-sidebar.html"><i class="fa fa-align-left"></i><span class="submenu-title">Left Sidebar</span></a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-bullhorn fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">我的消息</span><span class="label label-red">0条</span></a>
                </li>
                <li><a href="#"><i class="fa fa-slack fa-fw"><div class="icon-bg bg-pink"></div></i><span class="menu-title">账号中心</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="layout-left-sidebar.html"><i class="fa fa-align-left"></i><span class="submenu-title">Left Sidebar</span></a>
                        </li>
                    </ul>
                </li>
                <!--li.charts-sum<div id="ajax-loaded-data-sidebar"></div>-->
            </ul>
        </div>
    </nav>
    <!--END SIDEBAR MENU-->