<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">参会去会展活动信息平台 | 京ICP备17039834号-2</div>
</div>
<!--END FOOTER-->
<!--END PAGE WRAPPER-->
</div>
</div>
<script src="__HOME_JS__/manager/jquery-1.10.2.min.js"></script>
<script src="__HOME_JS__/manager/jquery-migrate-1.2.1.min.js"></script>
<script src="__HOME_JS__/manager/jquery-ui.js"></script>
<!--loading bootstrap js-->
<script src="__HOME_JS__/manager/bootstrap/js/bootstrap.min.js"></script>
<script src="__HOME_JS__/manager/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script src="__HOME_JS__/manager/html5shiv.js"></script>
<script src="__HOME_JS__/manager/respond.min.js"></script>
<script src="__HOME_JS__/manager/metisMenu/jquery.metisMenu.js"></script>
<script src="__HOME_JS__/manager/slimScroll/jquery.slimscroll.js"></script>
<script src="__HOME_JS__/manager/jquery-cookie/jquery.cookie.js"></script>
<script src="__HOME_JS__/manager/iCheck/icheck.min.js"></script>
<script src="__HOME_JS__/manager/iCheck/custom.min.js"></script>
<script src="__HOME_JS__/manager/jquery-notific8/jquery.notific8.min.js"></script>
<script src="__HOME_JS__/manager/jquery-highcharts/highcharts.js"></script>
<script src="__HOME_JS__/manager/jquery.menu.js"></script>
<script src="__HOME_JS__/manager/jquery-pace/pace.min.js"></script>
<script src="__HOME_JS__/manager/holder/holder.js"></script>
<script src="__HOME_JS__/manager/responsive-tabs/responsive-tabs.js"></script>
<script src="__HOME_JS__/manager/jquery-news-ticker/jquery.newsTicker.min.js"></script>
<script src="__HOME_JS__/manager/moment/moment.js"></script>
<script src="__HOME_JS__/manager/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="__HOME_JS__/manager/bootstrap-daterangepicker/daterangepicker.js"></script>
<!--CORE JAVASCRIPT-->
<script src="__HOME_JS__/manager/main.js"></script>
<!--LOADING SCRIPTS FOR PAGE-->
<script src="__HOME_JS__/manager/intro.js/intro.js"></script>
<script src="__HOME_JS__/layui/layui.js"></script>
<script type="text/javascript" src="__HOME_JS__/zyupload/zyupload-1.0.0.min.js"></script>
<script src="__HOME_JS__/manager/calendar/zabuto_calendar.min.js"></script>
<script src="__HOME_JS__/manager/sco.message/sco.message.js"></script>
<script src="__HOME_JS__/verification.js"></script>
<script type="text/javascript">
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-145464-14', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>