{include file="Public:manager_header" /}
{include file="Public:manager_top" /}
{if condition="$Request.cookie.role eq '10' "}
{include file="Public:manager_side0" /}
{elseif condition="$Request.cookie.role eq '11' "}
{include file="Public:manager_side1" /}
{elseif condition="$Request.cookie.role eq '12' "}
{include file="Public:manager_side2" /}
{elseif condition="$Request.cookie.role eq '13' "}
{include file="Public:manager_side3" /}
{elseif condition="$Request.cookie.role eq '14' "}
{include file="Public:manager_side4" /}
{elseif condition="$Request.cookie.role eq '15' "}
{include file="Public:manager_side4" /}
{elseif condition="$Request.cookie.role eq '16' "}
{include file="Public:manager_side4" /}
{/if}
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
<link rel="stylesheet" type="text/css" href="__HOME_CSS__/manager/style.css"/>
<link rel="stylesheet" href="__HOME_CSS__/manager/base/jquery.ui.all.css">
<link rel="stylesheet" href="__HOME_JS__/wangEditor/css/wangEditor.min.css">
<link href="__HOME_CSS__/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!--BEGIN PAGE WRAPPER-->
 <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-left">
                        <li><i class="fa fa-home"></i>&nbsp;<a href="{:url('Manager/index')}">用户中心</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                         <li ><a href="#">展会管理</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active">我的拼团</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <div class="page-content">
            <div class="all-box fl" style="width: 100%;">
            <div class="main-body">
                <form class="form-inline" action="{:url('exhibition/searchMyEx')}" menthod="post">
                    <div class="form-box">
                        <div class="input-group input-box">
                            <span class="input-group-addon">开&nbsp;&nbsp;始&nbsp;&nbsp;时&nbsp;&nbsp;间&nbsp;&nbsp;：</span>
                            <input class="form-control" id="startdate" name="startime"/>
                        </div>
                        <div class="input-group input-box">
                            <span class="input-group-addon">结&nbsp;&nbsp;束&nbsp;&nbsp;时&nbsp;&nbsp;间&nbsp;&nbsp;：</span>
                            <input class="form-control" id="enddate" name="endtime"/>
                        </div>
                        <div class="input-group input-box">
                            <span class="input-group-addon">关&nbsp;&nbsp;键&nbsp;&nbsp;字&nbsp;&nbsp;查&nbsp;&nbsp;询：</span>
                            <input class="form-control" name="ex_name"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary search" style="height: 34px !important;">提交</button>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="tableall all">
                    <table class="table tablelist table-hover table-responsive table-bordered table-striped" style="width: 95%;margin-top: 5px; ">
                        <tbody>
                            <tr style="text-align: center;">
                                <th style="width:230px;">展会名称</th>
                                <th style="width:90px;">展会时间</th>
                                <th>国家</th>
                                <th>城市</th>
                                <th>行业</th>
                                <th>主办方</th>
                                <th>出发城市</th>
                                <th>目的城市</th>
                                <th style="width:230px;">操作</th>
                            </tr>
                            {volist name="data_list" id='vo' key='j'}
                            <tr class="ex_detail">
                                <td class="exname">{$vo.name}</td>
                                <td>
                                    <span>{$vo.startime|date="Y-m-d",###}</span>
                                    <span>{$vo.endtime|date="Y-m-d",###}</span>
                                </td>
                                <td>{if condition="$vo.area eq 0"}{$district[0][$vo.city_id]['country']}{else /}{$district[1][$vo.city_id]['country']}{/if}</td>
                                <td>{if condition="$vo.area eq 0"}{$district[0][$vo.city_id]['city']}{else
                                    /}{$district[1][$vo.city_id]['city']}{/if}</td>
                                <td>{$tpid[$vo.type]}</td>
                                <td>{$vo.organizer}</td>
                                <td>{$vo.setoff_city}</td>
                                <td>{$vo.destination_city}</td>
                                <td>
                                    <button class="btn btn-default custom-width preview" data-toggle="modal" code="{$vo.ex_id}">预览</button>
                                    <button class="btn btn-default custom-width edit" data-toggle="modal" code="{$vo.ex_id}">编辑</button>
                                    <button class="btn btn-default custom-width booth" data-toggle="modal" disabled>发布</button>
                                    <button class="btn btn-default custom-width booth" data-toggle="modal" disabled>撤回</button>
                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                    <!--分页-->
                    <nav style="text-align: center"></nav>{$page}</nav>
                </div>

            </div>

        </div>
                <!--END CONTENT-->
            </div>
       </div>
       <!--发布拼团-->
                        <div class="modal fade" id="myGroup" tabindex="-1" role="dialog" data-backdrop="static" style="padding-left: 17px;">
                            <div class="modal-dialog" role="document" style="width: 67%;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title">发布拼团</h4>
                                    </div>
                                    <div class="modal-body" style="height:400px;overflow-y:auto;">
                                        <ul id="travelTab" class="nav nav-tabs">
                                            <li class="active"><a href="#travelTab_1" data-toggle="tab">基本信息</a></li>
                                            <li><a href="#travelTab_2" data-toggle="tab">行程介绍</a></li>
                                            <li><a href="#travelTab_3" data-toggle="tab">行程图片</a></li>
                                            <li><a href="#travelTab_4" data-toggle="tab">费用说明</a></li>
                                            <li><a href="#travelTab_5" data-toggle="tab">预定须知</a></li>
                                        </ul>

                                            <div class="tab-content">

                                                <div style="margin-top: 10px;"></div>
                                                <div class="tab-pane active" id="travelTab_1">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">发布模式:</label>
                                                                <label class="checkbox-inline"><input value="1"  type="radio" name="myGroupattern" checked>已定</label>
                                                                <label class="checkbox-inline"><input value="2"  type="radio" name="myGroupattern">预计</label>
                                                                <br><br>
                                                                <label class="control-label">出发城市:</label>
                                                                <input type="hidden" name="setoffCitys">
                                                                <input type="hidden" id="is_other" value="0">
                                                                <input type="hidden" name="otherCity">
                                                                <div  class="predestine" style="display:none">
                                                                    <label class="checkbox-inline">
                                                                        <input value="北京" class="travel-city" type="checkbox" name="setoffCity">北京
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="上海" class="travel-city" type="checkbox" name="setoffCity">上海
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="广州" class="travel-city" type="checkbox" name="setoffCity">广州
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="深圳" class="travel-city" type="checkbox" name="setoffCity">深圳
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="香港" class="travel-city" type="checkbox" name="setoffCity">香港
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="other" class="travel-city" type="checkbox" name="setoffCity">其他
                                                                    </label>
                                                                </div>
                                                                <div  class="order" >
                                                                    <label class="checkbox-inline">
                                                                        <input value="北京" class="travel-city" type="radio" name="setoffCity">北京
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="上海" class="travel-city" type="radio" name="setoffCity">上海
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="广州" class="travel-city" type="radio" name="setoffCity">广州
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="深圳" class="travel-city" type="radio" name="setoffCity">深圳
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="香港" class="travel-city" type="radio" name="setoffCity">香港
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input value="other" class="travel-city" type="radio" name="setoffCity">其他
                                                                    </label>
                                                                </div>
                                                                <label class="checkbox-inline">
                                                                    <input class="form-control" id="travelOtherSource"  placeholder="请输入出发城市" style="display: none;" type="text">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">目的城市:</label>
                                                                <input class="form-control" type="text" name="destination_city" value="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group input-group input-medium date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                                                <label class="control-label">出发日期:</label> <input class="form-control" type="text" id="setoff" name="setoffdate">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">时间安排:</label>
                                                                <div class="input-group input-medium">
                                                                    <input class="form-control" type="number" id="dayCount">
                                                                    <span class="input-group-addon">天</span>
                                                                    <input class="form-control" type="number" id="nightCount">
                                                                    <span class="input-group-addon">晚</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">服务包含:</label><br>
                                                                <label class="checkbox-inline">
                                                                    <input value="机票" class="travel-service" type="checkbox">机票
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input value="酒店" class="travel-service" type="checkbox">酒店
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input value="境外交通" class="travel-service" type="checkbox">境外交通
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input value="司机" class="travel-service" type="checkbox">司机
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input value="导游" class="travel-service" type="checkbox">导游
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input value="小费" class="travel-service" type="checkbox">小费
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input value="签证" class="travel-service" type="checkbox">签证
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input value="景点门票" class="travel-service" type="checkbox">景点门票
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">本地参团:</label><br>
                                                                <label class="checkbox-inline">
                                                                    <input name="isLocal" value="1"  type="radio">是
                                                                </label>
                                                                <label class="checkbox-inline">
                                                                    <input name="isLocal" value="0"  type="radio" checked>否
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group localDelegation" style="display: none;float: right">
                                                                <label class="control-label">本地参团人员费:</label><br>
                                                                <div class="input-group input-medium">
                                                                    <input class="form-control" type="number" id="localPrice">
                                                                    <span class="input-group-addon">元/人</span>
                                                                </div>
                                                            </div></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label" title="提供完整服务的价格">标准人员费:</label>
                                                                <div class="input-group input-medium">
                                                                    <input class="form-control" type="number" id="adultPrice">
                                                                    <span class="input-group-addon">元/人</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group" style="float: right">
                                                                <label class="control-label">单间差:</label>
                                                                <div class="input-group input-medium">
                                                                    <input class="form-control" type="number" id="roomDifference">
                                                                    <span class="input-group-addon">元/人</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">折扣范围:</label>
                                                                <label class="checkbox-inline">
                                                                    <input placeholder="折扣有效范围1~99" class="form-control" type="number" id="discountRate">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="travelTab_2">
                                                    <div class="panel-group trip" id="accordion" role="tablist">
                                                    </div>
                                                    <button type="button" class="btn btn-info trip-btn" style="margin-bottom: 10px">增加行程</button>
                                                </div>
                                                <div class="tab-pane" id="travelTab_3">
                                                    <div class="up-box">
                                                        <input title="上传图片" multiple="true"  id="strokeImg" type="file" name="stroke_pictures">
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="travelTab_4">
                                                    <div class="form-group">
                                                        <a href="#">点击查看示例:</a>
                                                        <div id="fee_introduce"></div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="travelTab_5">
                                                    <div class="form-group">
                                                            <a href="#">点击查看示例:</a>
                                                            <div id="book_notice"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="alert alert-danger ptAlert" id="ptAlert" style="display: none;">
                                        <a href="javascript:void(0);" class="ptAlert close">×</a>
                                        <strong>失败！</strong> <br> <span></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary" id="btnSave-pt">保存</button>
                                    <button type="button" class="btn btn-success" id="btnSubmit-pt">保存并提交</button>
                                    </div>
                                    </div>
                                </div>
                        </div>
{include file="Public:manager_footer" /}
<script src="__HOME_JS__/fileinput.js" type="text/javascript"></script>
<script src="__HOME_JS__/fileinput_locale_zh.js" type="text/javascript"></script>
<script type="text/javascript" src="__HOME_JS__/manager/jquery-ui-1.8.21.custom.min.js" ></script>
<script type="text/javascript" src="__HOME_JS__/manager/jquery.ui.datepicker-zh-CN.js" ></script>
<script type="text/javascript" src="__HOME_JS__/wangEditor/js/wangEditor.min.js" ></script>
<script type="text/javascript" src="__HOME_JS__/pt_preview.js" ></script>
